<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Academia El Soto - Iniciar Sesión</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="../css/styles.css" rel="stylesheet" />
</head>

<body id="page-top" class="bg-light d-flex flex-column min-vh-100">
    {{>partials/header}}

    <div style="height:80px"></div>

    <div class="container flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="col-md-5 col-lg-4">
            <div class="card shadow rounded-4 p-4">
                <h3 class="text-center mb-4">Iniciar sesión </h3>

                {{#error}}
                <div class="alert alert-danger text-center shadow-sm">
                    <strong>¡Uy!</strong> {{error}}
                </div>
                {{/error}}

                <form action="/login" method="POST">

                    <input type="hidden" name="_csrf" value="{{token}}" />

                    <div class="mb-3">
                        <label class="form-label">Email o Usuario</label>
                        <input type="text" name="username" class="form-control" placeholder="usuario" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" placeholder="••••••••" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-2">Entrar</button>
                </form>

                <p class="text-center mt-4 mb-0">
                    ¿No tienes cuenta?
                    <a href="/register" class="fw-bold text-decoration-none">Regístrate</a>
                </p>
            </div>
        </div>
    </div>

    {{>partials/footer}}

</body>

</html>